<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/26537680/pexels-photo-26537680/free-photo-of-supermercado-del-puerto.jpeg" 
                alt="" 
                class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-2"> Featured </small>
                    <small class="bg-light text-info text-center ml-2"> Views - 100,225 </small>
                    <small class="bg-light text-warming text-center ml-2"> LAST UPDATED - SEP 20, 2024 </small>

                    <h1 class="mt-3 mb-3">
                        How to design a website
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam itaque sequi error pariatur, voluptatum autem, eaque cumque similique esse, eos ullam voluptas doloremque vitae animi amet corporis repellat explicabo blanditiis.
                    </p>

                    <app-comment-form></app-comment-form>
                    <app-comment-list></app-comment-list>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container mb-3">
                <app-post-card/>
            </div>
            <div class="container mb-3">
                <app-post-card/>
            </div>
            <div class="container mb-3">
                <app-post-card/>
            </div>
        </div>
    </div>
</div>