<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/28996347/pexels-photo-28996347/free-photo-of-vibrant-dahlia-flowers-in-glass-vases.jpeg" 
    alt="post-card" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center"> Featured </small>
        <small class="bg-light text-info text-center"> Views - 125,260 </small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto nobis et, nam, commodi cum nihil ratione adipisci sapiente, tempora ipsam quis optio totam! Nobis, quaerat non accusantium expedita voluptatem officiis?</p>
    
        <small class="bg-light text-warning text-center"> LAST UPDATED - SEP 20, 2024</small>
    </div>


</div>
